{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login - NZ Healthcare</title>
		<link rel="stylesheet" href="{% static 'referrals/home.css' %}">
	</head>
	
	<body>
		<div class="page-container">
			<div class="content-wrap">
				{% include 'header-base.html' %}
				<main>
					{% block content %}
						<div id="login-div">
							<div>
								<h2>Login</h2>
								<form method="post">
									{% csrf_token %}
									{{ form.as_p }}
									<button type="submit">Login</button>
								</form>
							</div>
						</div>
					{% endblock %}
				</main>
			</div>
			{% include 'footer-base.html' %}
		</div>
	</body>

</html>