{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Details - NZ Healthcare</title>
	<link rel="stylesheet" href="{% static 'referrals/home.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'nz-healthcare-logo.png' %}">
</head>

<body>
	
	<div class="page-container">
		<div class="content-wrap">
			{% include 'header-base.html' %}
			<header>
				<h1>Doctor</h1>
			</header>
			<main>
				{% if doctor.portrait_img %}
					<img src="{{ doctor.portrait_img.url }}" alt="Doctor Potrait" width="250px">
				{% endif %}
				<h3>Dr {{ doctor.first_name }} {{ doctor.last_name }}</h3>
				<h3>Medical Center: {{ doctor.medical_center }}</h3>
				{% if doctor.user == user %}
					<div class="list-buttons detail-list-buttons">
						<a href="{% url 'edit_doctor' %}"><button>Edit Details</button></a>
						<a href="{% url 'my_patient_list' %}"><button>My Patients</button></a>
						<a href="{% url 'my_referral_list' %}"><button>My Referrals</button></a>
					</div>
				{% else %}
					<div class="list-buttons">
						<a href="{% url 'our_staff' %}"><button>Back</button></a>
					</div>
				{% endif %}
			</main>
		</div>
		{% include 'footer-base.html' %}
	</div>
    
</body>
</html>
