{% load static %}
{% load has_group %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>patient List - NZ Healthcare</title>
	<link rel="stylesheet" href="{% static 'referrals/home.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'nz-healthcare-logo.png' %}">
</head>
<body>
	<div class="page-container">
		<div class="content-wrap">
			{% include 'header-base.html' %}
			<header>
				{% if user|has_group:"Doctors" or user.is_staff %}
					<h1>Referral List</h1>
				{% endif %}
			</header>

			<main>
				<div class="list-div">
					{% if user|has_group:"Doctors" or user.is_staff %}
						<table role="table" class="referral-table">
							{% if referrals %} 	
								<thead role="rowgroup">	
									<tr role="row">
										<th role="columnheader"></th>
										<th role="columnheader">Referral ID</th>
										<th role="columnheader">Referrer</th>
										<th role="columnheader">Client Name</th>
										<th role="columnheader">Referral Date</th>
									</tr>
								</thead>
							{% else %}
								<h1>No Referrals</h1>
							{% endif %}
							<tbody role="rowgroup">
								{% for referral in referrals %}
									<tr role="row" class="tr-highlight" onclick="window.location.href='{% url 'referral_detail' referral_id=referral.pk %}'"; style="cursor: pointer;">
										<th>Referral <br> <p>(Click to Open)</p></th>
										<td role="cell"> {{ referral.pk }}</td>
										<td role="cell"> {{ referral.referrer }}</td>
										<td role="cell"> {{ referral.patient.first_name }} {{ referral.patient.last_name }} </td>
										<td role="cell"> {{ referral.referral_date }} </td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if user|has_group:"Doctors" %}
							<div class="list-buttons">
								<a href="{% url 'doctor_referral_new' %}"><button>Add a referral</button></a>
							</div>
						{% endif %}
					{% endif %}
				</div>
			</main>
		</div>
		{% include 'footer-base.html' %}
	</div>
</body>
</html>
